recursive-include realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/models *
recursive-include realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/src *
include realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/LICENSE
include realsr_ncnn_vulkan_python/realsr-ncnn-vulkan/README.md
